<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Upload & Download Dashboard</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    {% if style == True %}
      <link rel="stylesheet" href="{{ url_for('static', filename='css/light/upload.css') }}">
    {% else %}
      <link rel="stylesheet" href="{{ url_for('static', filename='css/dark/upload.css') }}">
    {% endif %}
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/">Control Panel</a></li>
          <li><a href="/payload">Payload</a></li>
          <li><a href="/files" class="active">Files</a></li>
          <li><a href="/logout">Logout</a></li>
        </ul>
      </nav>
    </header>

    <h1>Upload & Download Dashboard</h1>

    <div id="popup-alert">
      <div id="popup-message"></div>
      <button id="popup-ok-btn">OK</button>
    </div>

    <div id="container">
      <!-- Upload Section -->
      <div id="panel">
        <h2>Upload a File</h2>
        <div class="action-container">
          <input type="file" id="file-input" />
          <p style="display: flex; align-items: center">
            <div class="os-selection">
              <p>
                <input type="checkbox" id="select-all-os" class="select-all-os"/>
                Select All&nbsp;
              </p>
              <p>
                <input type="checkbox" id="select-linux" class="os-checkbox select-linux" />
                <img
                  src="https://upload.wikimedia.org/wikipedia/commons/3/35/Tux.svg"
                  alt="Linux Logo"
                />
                Linux
              </p>
              <p>
                <input type="checkbox" id="select-windows" class="os-checkbox select-windows" />
                <img
                  src="https://upload.wikimedia.org/wikipedia/commons/0/0a/Unofficial_Windows_logo_variant_-_2002%E2%80%932012_%28Multicolored%29.svg"
                  alt="Windows Logo"
                />
                Windows
              </p>
              <p>
                <input type="checkbox" id="select-osx" class="os-checkbox select-osx" />
                <img
                  src="https://upload.wikimedia.org/wikipedia/commons/f/fa/Apple_logo_black.svg"
                  alt="MacOS Logo"
                />
                OSX
              </p>
            </div>
          </p>
          <button onclick="uploadFile()">Upload File</button>
        </div>
      </div>

      <!-- Download Section -->
      <div id="panel">
        <h2>Download a File</h2>
        <div class="action-container">
          <p>Input the path to the file in which you want to download</p>
          <input type="text" id="dir-input" placeholder="Enter Path" />
          <div class="os-selection">
            <p>
              <input type="checkbox" id="select-all-os" class="select-all-os"/>
              Select All&nbsp;
            </p>
            <p>
              <input type="checkbox" id="select-linux" class="os-checkbox select-linux" />
              <img
                src="https://upload.wikimedia.org/wikipedia/commons/3/35/Tux.svg"
                alt="Linux Logo"
              />
              Linux
            </p>
            <p>
              <input type="checkbox" id="select-windows" class="os-checkbox select-windows" />
              <img
                src="https://upload.wikimedia.org/wikipedia/commons/0/0a/Unofficial_Windows_logo_variant_-_2002%E2%80%932012_%28Multicolored%29.svg"
                alt="Windows Logo"
              />
              Windows
            </p>
            <p>
              <input type="checkbox" id="select-osx" class="os-checkbox select-osx" />
              <img
                src="https://upload.wikimedia.org/wikipedia/commons/f/fa/Apple_logo_black.svg"
                alt="MacOS Logo"
              />
              OSX
            </p>
          </div>
          <button onclick="fileDownload()">Filter Downloads</button>
        </div>
      </div>
    </div>

    <div id="device-table-container">
      <table>
        <thead>
          <tr>
            <th>Checked</th>
            <th><input type="text" id="device-id-search" placeholder="Device ID"></th>
            <th><input type="text" id="location-search" placeholder="Location"></th>
            <th><input type="text" id="status-search" placeholder="Status"></th>
            <th><input type="text" id="last-online-search" placeholder="Last Online"></th>
            <th><input type="text" id="os-search" placeholder="OS"></th>
            <th><input type="text" id="ip-address-search" placeholder="IP Address"></th>
          </tr>
        </thead>
        <tbody id="device-table">
          <!-- Device rows will be added here -->
        </tbody>
      </table>
    </div>

    <div id="file-table-container">
      <table>
        <thead>
          <tr>
            <th>File Name</th>
            <th>Date</th>
            <th>Download</th>
          </tr>
        </thead>
        <tbody id="file-table">
          <!-- Download rows will be added here -->
        </tbody>
      </table>
    </div>
    {% if ip_state == True %}
    <script>
      var private_public = true;
    </script>
    {% else %}
      <script>
        var private_public = false;
      </script>
    {% endif %}
    {% if show_login == True %}
    <script>
      var show_logout_button = true;
    </script>
    {% else %}
      <script>
        var show_logout_button = false;
      </script>
    {% endif %}
    <script src="{{ url_for('static', filename='js/upload.js') }}"></script>
  </body>
</html>
